@page {
  size: A4;
  margin: 0;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: Arial;
}

.pagina {
  background-image: url("Fundo.jpg");
  background-size: 100% 100%;
  -webkit-print-color-adjust: exact !important;

  width: 210mm;
  height: 297mm;

  padding: 20mm;
  box-sizing: border-box;

  /* Centraliza na tela */
  margin: 20px auto;

  /* Aparência de folha */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

/* Ajustes específicos para impressão */
@media print {
  html, body {
    width: 210mm;
    height: 297mm;
    margin: auto;
    padding: 0;
  }

  .pagina {
    width: 210mm;
    height: 297mm;
    margin: auto;
    padding: 20mm; 
    box-shadow: none;
    page-break-after: always;
  }
}


header {
  width: 80%;
  margin: auto;
  text-align: center;
}

section {
  border: 1px solid black;
  width: 80%;
  margin: auto;
  padding: 5px;
}

main {
  width: 90%;
  margin: auto;
  padding: 5px;
}

h2 {
  text-align: center;
  line-height: 2px;
}

h3 {
  line-height: 5px;
}

i {
  font-weight: normal;
}

text {
  font-size: 10px;
  font-family: monospace;
}

td, th {
  border-style: none;
  padding: 10px 20px;
  width: 100px;
}

.tabela * {
  border: 1px solid black;
  padding: 5px;
  font-size: 11px;
  text-align: center;
}

.tabela {
  border-spacing: 0;
}

.tabela th {
  background-color: lightgreen;
}

.grafico {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  height: 200px;
  width: 300px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

.barra {
  width: 50px;
  background-color: steelblue;
  text-align: center;
  color: white;
}